/node_modules
/public/storage
/storage/*.key
/wp-content/uploads/
/app/public/wp-content/uploads/

/app/public/.htaccess

/app/public/wp-config.php

/app/public/.env

/app/public/wp-admin/
/app/public/wp-admin/
/app/public/wp-content/index.php
/app/public/wp-content/languages
/app/public/wp-content/plugins/
/app/public/wp-content/plugins/index.php
/app/public/wp-content/themes/index.php
/app/public/wp-includes/
/app/public/index.php
/app/public/license.txt
/app/public/readme.html
/app/public/wp-*.php
/app/public/xmlrpc.php
/app/public/wp-content/themes/node_modules
/app/public/storage/*.key
/app/public/vendor
/app/public/.idea
/app/public/Homestead.json
/app/public/Homestead.yaml