{# {% extends "base.twig" %}

{% block content %}
	<h1>Boom!</h1>
	<p>{{ qux }}</p>
	{% for post in posts %}
		{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
	{% endfor %}
	
	{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
{% endblock %} #}
{% extends "index.twig" %}
{% block content %}
		<article class="main-content page-blog test" id="post-{{post.ID}}">
			<section class="page-hero">
				<div class="inner-wrap">
					<div class="hero-text">
            			<h2>Blog</h2>
						{% filter shortcodes %} [ivory-search id="4137" title="AJAX Search Form"] {% endfilter %}				
					</div>
					<div class="hero-filter">
					{% filter shortcodes %} 
					[fe_widget]
					{% endfilter %}		
					</div>	
				</div>
			</section>
			<section class="post-index">
				<div class="inner-wrap">
					{% for post in posts %}
						{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
					{% endfor %}
				</div>
					{# <div class="floaty-blob"></div> #}
	{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
			</section>
			</article>

{% endblock %}
